<!-- PRIMARY PAGE LAYOUT USING HANDLEBARS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
  <div class="header">
    <div class="row">

      <h5>REGISTRATION NUMBERS <span> CAPE TOWN</span></h5>
      {{!-- <i class="fas fa-car"></i> --}}
    </div>
  </div>
  <div class="registration">
    <div class="row">
      <div class="twelve columns" style="margin-top: 5%">
        <form class="" action="/reg_number" method="post">
          <span>Registration Number:<input type="text" class="inputTxt" name='inputTxt'> <button type="submit" class="button-primary add"
              name='button'>add</button>
            {{!-- <button type="button" class=" button-primary reset" style="background-color: #c0392b; border: 0px soloid  #c0392b;">reset</button></span>
          --}}
        </form>
      </div>
    </div>
  </div>
  <div class="message" style="color: #c0392b; font-size: 16px; font-weight: 300; text-align: center; margin-bottom: 10px">
    <div class="row">
      <div class="twelve columns">
      </div>
    </div>
  </div>
  <div class="dropDown">
    <p>FILTER BY TOWN..!</p>
    <select class="towns">
      <option value="allTown" class="allTown">Select All Towns</option>
      <option value="CA " name="towns" class="towns">Cape Town</option>
      <option value="CJ " name="towns" class="towns">Paarl</option>
      <option value="CAW " name="towns" class="towns">George</option>
      <option value="CL " name="towns" class="towns">Stellenbosch</option>
    </select>
  </div>
  <br>
  <div>
    <h6>DISPLAY REGISTRATION NUMBERS:</h6>
    <div class="row">
      <div class="twelve columns">
        <ul class="display">
          {{#each registration_plates}}
          <li> {{this.registration_plates}} </li>
          {{/each}}

        </ul>
      </div>
    </div>
  </div>
</div <!-- End Document –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body </html>