.header {
    display: inline-block;
    position: relative;
    background-color: rgb(26, 32, 39);
    height: 90px;
    width: 100%;
    color: rgb(240, 240, 240);
    border-bottom: 2px solid rgb(255, 243, 71);
    box-sizing: border-box;
}

.header h5 {
    text-align: center;
    display: inline-block;
    padding: 20px;
}

.fa-car {
    display: inline-block;
    margin-left: 2em;
    font-size: 20px;
}

.header span {
    position: absolute;
    margin-top: -30px;
    background-color: rgb(255, 243, 71);
    color: #17202A;
    font-weight: bold;
    margin-left: 32%;
    padding: 3px;
    font-size: 15px;
    border: 2px solid rgb(6, 8, 5);
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px #B7950B;
    /* transform: rotate(0deg); */
}
.dropDown {
    position: relative;
    border: 1px solid black;
    /* margin-top: 40%; */
    padding-top: -40%;
    margin: auto;
    width: 90%;
    border-radius: 10px;
    height: 100px;
    box-sizing: border-box;
}

.town {
    margin-top: -40px;
    /* margin-left: %; */
    text-align: center;
}

.dropDown p {
    text-align: center;
    border-bottom: 4px solid black;
}

.registration {
    margin-left: 10%;
}

.display {
    text-align: center;
    position: relative;
    box-sizing: border-box;
}

.display ul {
    position: absolute;
}

.display li {
    float: left;
    margin: 0.3em;
    padding: 5px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #bdc3c7;
    list-style: none;
    color: #fdfefe;
}

.display2 {
    position: relative;
    box-sizing: border-box;
}

.display2 ul {
    position: absolute;
}

.display2 li {
    float: left;
    margin: 0.3em;
    padding: 5px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #bdc3c7;
    list-style: none;
    color: #fdfefe;
}

.error {
    color: #DF131F;
}

.success {
    color: #1E8449;
}

.fa-trash {
    color: #F70917;
}
.fa-trash:hover {
    font-size: 18px;
}
.reset {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}
.reset:hover {
    background-color: #FDEDEC;
    color: #E74C3C;
}
/* add media queries */
@media (max-width: 450px) {
    .header span {
        margin-top: -4px;
        margin-left: 21%;
        transform: rotate(-45deg);
    }
}

@media (max-width: 600px) {
    .towns {
        margin-left: 65px;
    }
}